@using SixLabors.Fonts
@model HomeModel
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

@{
    var fonts = SystemFonts.Collection.Families;
}

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/captcha-image" />
                </div>
                <input type="text"
                       asp-for="CaptchaCode"
                       class="form-control"
                       placeholder="Captcha Code"
                       autocomplete="off"
                       minlength="4"
                       maxlength="4" />
            </div>
            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<h5>System Fonts</h5>
<ul>
    @foreach (var item in fonts)
    {
        <li>@item.Name</li>
    }
</ul>