@model HomeModel
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <img id="img-captcha" src="@Url.Action("GetCaptchaImage", "Home")" />
                </div>
                <input type="text"
                       asp-for="CaptchaCode"
                       class="form-control"
                       placeholder="Captcha Code"
                       autocomplete="off"
                       minlength="4"
                       maxlength="4" />
            </div>
            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
